### Import libraries

In [1]:
import pandas as pd

### Read dataset

In [2]:
df = pd.read_csv('data/dataset_v1.csv')
df.head(5)

,offer_id,category_id,add_to_wishlist,add_to_cart,base_price_with_vat,ordered_quantity,orders,product_novelty,count_reviews,pageviews,rating,promo_price_with_vat,date
0,21,1,0,0,2009.99,0,0,2016-03-29,0,0,0.00,2009.99,2020-12-12
1,83,1,0,0,6699.99,0,0,2017-03-15,0,32,0.00,3999.99,2020-12-12
2,119,1,23,6,5799.99,3,3,2017-06-09,40,1218,4.35,4499.99,2020-12-12
3,120,1,13,1,5799.99,1,1,2017-06-09,21,350,4.52,4499.99,2020-12-12
4,121,1,1,0,7199.99,0,0,2017-06-12,0,26,0.00,5999.99,2020-12-12

### Data preprocessing

Let's begin by one-hot encoding 'category_id' since its cardinality is 3, which allows us to do this.

In [3]:
cardinality = df.category_id.value_counts(dropna=False).shape[0]
print(f'category_id cardinality: {cardinality}')

category_id cardinality: 3

In [4]:
df = pd.get_dummies(df, columns=['category_id'], prefix='category')

I believe this was the only variable requiring preprocessing. Let's proceed with the feature engineering phase.

### Export dataframe

In [5]:
df.to_csv('data/dataset_v2.csv', index=False)